.body {
    overflow: auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid var(--primary-color);
}

.scroll {
    overflow: auto;
    flex: 12;
    flex-wrap: wrap;
    justify-content: center;
}

.top {
    background: var(--white) var(--img-body-background) repeat fixed center;
}

.top .top-button {
    font-size: 3rem;
    font-weight: 600;
}

.bottom {
    color: var(--text-subtitle-color);
    gap: 1rem;
}

.bottom-container {
    gap: 0.25rem;
}

.bottom h4 {
    color: var(--text-subtitle-color-dark);
}