html, body, #root {
  height: 100%;
  background-color: #F5F5F5;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 0.5rem;
  
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-light);
  cursor: pointer;
}
